.contact-main {
   display: flex;
   align-items: center;
   border-bottom: 3px solid $clr1;
   border-radius: 5rem;
   
   .lottie-container {
      position: absolute;
      left: 300px;
   }

   h2 {
      font-size: 4rem;
      z-index: 1;
   }

   p {
      font-size: 2rem;
      padding-inline-start: 5rem;
   }
   .contact-container {
      z-index: 10;
      display: flex;
      flex-direction: column;
      align-items: start;
      gap: 1rem;
      padding: 5rem 0;
      color: $clr3;
   }
}

@media (max-width: 1125px) {
   .lottie-container {
      display: none;
   }
}

@media (max-width: 600px){
   .contact-container{
      h2{
         font-size: 2rem;
      }
      p{
         font-size: 1.3rem;
      }
   }
}