.main-nav {
   display: flex;
   align-items: center;
   justify-content: space-between;
   position: fixed;
   background-color: $clr2;
   width: 100%;
   z-index: 2;
   color: white;
   h2 {
      padding-left: 1rem;
   }
   .nav-container {
      position: relative;
      padding-left: 0;
      display: flex;
      gap: 2rem;
      padding: 0 2rem;
      font-weight: bold;
      li:hover {
         text-decoration: underline;
      }
   }
}

@media (max-width: 400px){
   .main-nav{
         font-size: 0.9rem;
   }
}