.first-section-container {
   height: 100vh;
   background-color: $clr1;
   position: relative;
}

// media query
// media query
@media (max-width:1000px){
   .first-section-container{
      height: auto;
   }
}

@media (max-width:450px){
   .first-section-container{
      height: auto;
   }
}
