.main-layout{
    display: grid;
    grid-template-columns: 220px 1fr 220px;

    > * {
        grid-column: 2;
    }
}

.full{
    grid-column: 1 / -1;
}

@media (max-width: 900px){

    .main-layout{
        grid-template-columns: 1fr; 

        > * {
            grid-column: auto;
        }
    }
}